name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - run: sudo apt update
      - run: sudo apt install ttfautohint fontforge
      - run: make build  
      - run: zip -r -j linux-fonts.zip fonts

      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: latest
          files: linux-fonts.zip
